/* עיצוב כפתור logout */
button {
    background-color: #4CAF50; /* צבע רקע ירוק */
    color: white; /* צבע טקסט לבן */
    border: none; /* ללא גבול */
    border-radius: 5px; /* פינות מעוגלות */
    padding: 10px 15px; /* ריפוד פנימי */
    font-size: 13px; /* גודל טקסט */
    cursor: pointer; /* מצביע על לחיצה */
    transition: background-color 0.3s, transform 0.3s; /* אנימציה לשינוי צבע והגדלה */
    margin: 10px;
}

button:hover {
    background-color: #307533; /* צבע רקע כהה יותר בעת ריחוף */
}

button:focus {
    outline: none; /* הסרת קו מתאר בעת מיקוד */
}
