
<div class="login-container">
    <form class="example-form" [formGroup]="userDetails">
        <mat-form-field class="example-full-width">
            <mat-label>name</mat-label>
            <input matInput placeholder="" formControlName="name">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>password</mat-label>
            <input type="password" matInput placeholder="" formControlName="password">
        </mat-form-field>
        <p>{{error}}</p>
        <button (click)="checkUser()" matButton="filled">Enter</button>
    </form>
</div>